@import url(https://fonts.googleapis.com/css?family=Exo+2&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic);
body{
}
p,h1{
    margin: 0px;
    padding: 0px;
}
.mainblock{
    background-image: url('../img/mainbg.jpg');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 70px;
}
.mainblock .container{
    margin-top: 7%;
}
.head{
    height: 70px;
    background: black;
    z-index: 10;
    width:100%;
    position: fixed;
    text-align: center
}
.head ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.head ul li{
    display: inline-block;
    height: 70px;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
}
.head ul li:hover{
   background: rgba(255,255,255,0.1);
}
.head ul li a{
    color:white;
    height: 70px;
    display: inline-block;
    font-family: 'Exo 2', sans-serif;
    font-size:20px;
    width:100%;
}
.head ul li a:hover{
    text-decoration: none;
}
.mainblock .form{
    width:90%;
    margin: 0px;
    min-height: 150px;
    padding: 5px 2px;
    text-align: center
}
.form p.name{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size:30px;
    color: white;
}
.form p.mini{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size:14px;
    color: white;
    margin-bottom: 20px;
}
.form input{
    width:90%;
    margin: 0px auto;
    margin-top: 10px;
    min-height: 30px;
    padding-left:40px;
    background-color: rgba(255,255,255,0.9);
    border:none;
     font-family: 'Exo 2', sans-serif;
}
.form button{
    width:90%;
    margin: 0px auto;
    margin-top: 10px;
    min-height: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
     font-family: 'Exo 2', sans-serif;
    border:none;
    color:yellow;
    font-size:18px;
}
p.mini a{
    color:white;
    border-bottom: 1px dotted white;
    padding-top: 10px;
}
h1{
    text-align: right;
    font-family: 'Exo 2', sans-serif;
    color:white;
    font-size:50px;
}
h3{
    text-align: right;
    font-family: 'Exo 2', sans-serif;
    color:white;
    font-size:30px;
}
h6{
    text-align: left;
    font-family: 'Exo 2', sans-serif;
    color:white;
    font-size:20px;
    width:80%;
    margin-top: 5%;
}
.product h1{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color:black;
    font-size:50px;
}
.product h3{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color:black;
    font-size:30px;
}
.product h6{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color:black;
    font-size:20px;
    width:80%;
    margin-top: 5%;
}
.blockproduct{
    min-height: 150px;
    padding: 5px;
    text-align: center;
}
.blockproduct h6{
    text-align: center;
    width:100%;
}
.orderleft{
    text-align: center;
}
.orderleft h6{
    text-align: center;
    margin: 0px auto;
}
.prudcttable{
    text-align: left;
}
.blockproduct:hover{
    cursor: pointer;
    background: #f9f9f9;
}
.numberprod{
    width: 50px;
}
.allprice{
    text-align: right;
    font-weight: bolder;
    text-transform: uppercase;
}
.time{
    min-height: 300px;
    background: #ebfff0;
    padding-top: 2%;
}
.time h1{
    text-align: center;
    color:black;
}
.econmoney{
  text-align: center;
    font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  font-size:200%;
}
.econmonet{
  text-align: center;
    font-family: 'Exo 2', sans-serif;    
  text-transform: uppercase;
  font-size:200%;
}
.price{
    width:100%;
    margin-top: 23px;
}
.footer{
    margin-top: 50px;
    min-height: 300px;
    background:#222;
    background-position: center center;
    padding-top: 30px;
}
.footer p{
    color:white;
    font-family: 'Exo 2', sans-serif; 
    margin-left: 20px;
}
.footer p a{
    color:yellow;
}
.footer a img{
    opacity:0.7;
    margin:0px auto;
}
.footer a img:hover{
    opacity:1
}
#timer_hour,#timer_min,#timer_sec,#razd{
    display: inline-block;
    font-family: 'Exo 2', sans-serif; 
}
.rowtime{
    text-align: center;
    colo:black;
}
.rowtime h6{
    color: black;
    text-align: center;
    margin: 10px auto;
    text-align: center
}
.ordershowleft{
    opacity:0;
}
.iconmenu:hover{
    cursor: pointer;
}
.blockmenu{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    margin: 0px auto;
    float:left;
    display:block;
}
.priceprs{
    display: inline-block;
    float: left;
    position: absolute;
    background: red;
    color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    border-top:1px solid yellow;
        font-family: 'Exo 2', sans-serif; 
}
.sigar{
    min-height: 300px;
    background-color: aqua;
    margin-top: 10px;
}
.sigar h1{
    text-align: center
}
.has_error{
    background-color: red;
}
#order{
    top:0px;
    left: 0px;
    right:0px;
    bottom: 0px;
    z-index: 500;
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    cursor: default;
}
#order:target{
    display: block;
}
#orderpop{
    background-color: white;
    color:black;
    margin: 0px auto;
    width:70%;
    margin-top:5%;
    min-height: 400px;
}